html,body{
    font-family: Raleway,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.search{
    font-size: 20px;
    border: solid 0.3em;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}
.search input[type=text]{
    font-family: inherit;
    font-weight: bold;
    width: 25em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
}